body {
  font-family: system-ui;
  margin: 0;
  padding: 3rem;
}
header {
  display: "flex";
  gap: 12;
}
.wrapper {
}
.issues-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.issue{
    border: 1px solid #b4b4b4;
    padding: 2rem;
    border-radius: 1rem;
}
.issue-id{
    font-size: 0.75rem;
}
.issue-title{
    font-size: 0.9rem;
    font-weight: bold;
}
